# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Large data (optional, keep if needed)
data/raw/*
data/external/*
